<div class="body">
<div class="accDet">
    <h4 class="sepH4">Account Number:{{acno}}</h4>
    <h4 class="sepH4">Balance={{balance}}</h4> 
    <h4>Customer Id:{{custId}}</h4>
</div>

<br>
<a routerLink='addPayee' class="addPayee">Add Payee</a>
<form (ngSubmit)="chooseTransfer()">
    Select mode of transfer
    <select name="transfer" [(ngModel)]="type">
        <option value="IMPS">IMPS</option>
        <option value="NEFT">NEFT</option>
        <option value="RTGS">RTGS</option>
    </select>
    <button type="submit">Go</button>
</form>
</div>