<div class="body">
<div class="accDet">
    <h4 class="sepH4">Account Number : <mark> {{acno}}</mark></h4>
    <h4 class="sepH4">Balance : {{balance}}</h4> 
    <h4>Customer Id : {{custId}}</h4>
</div>
<br><br>
<br>
<a class="btn btn-outline-info" routerLink='addPayee'>Add Payee</a>
<br><br><br>
<form (ngSubmit)="chooseTransfer()">
    Select mode of transfer
    <select name="transfer" [(ngModel)]="type">
        <option value="IMPS">IMPS</option>
        <option value="NEFT">NEFT</option>
        <option value="RTGS">RTGS</option>
    </select>
    <button class="btn btn-info" type="submit">Go</button>
</form>
</div>