<div class="main">
    <div class="col1">

    </div>
    <div class="Col2">
        <form (ngSubmit)="accStatement()">
            Statement from :<input type="date" name="fromDate" [(ngModel)]=accountStatementCredentials.fromDate
                class="from-class">
            to:<input type="date" name="toDate" [(ngModel)]=accountStatementCredentials.toDate> <br>
            <br>
            <button type="submit" class="btn btn-success">Submit</button>
            <br><br>
        </form>
    </div>
    <h3 align="center"> {{stmt.message}}</h3>
    <div class="table-wrapper">
    <table class="table table-trapped" align="center">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Name</th>
                <th>Account Number</th>
                <th>Amount</th>
                <th>type</th>
            </tr>
            <tr *ngFor="let stm of stmt.resDto">
                <td> {{stm.date}}</td>
                <td> {{stm.time}}</td>
                <td> {{stm.name}} </td>
                <td> {{stm.accountNo}} </td>
                <td> {{stm.amount}} </td>
                <td> {{stm.type}}</td>
            </tr>
    </table>
</div>
    <button (click)="downloadPdf()" class="btn btn-info">
        Download
      </button>
</div>