<div class="text-center form-group">
    <hr>
   <p class="text-danger">Are you sure you want to remove this payee({{acno}})</p>
   <button class="btn btn-primary col-sm-1" (click)=onSubmit()>Confirm</button>
   <button class="btn btn-secondary col-sm-1">No</button> 
    <hr>
    <br>
    <p class="text-muted description">On removing the payee, it wont show in your "To Account" dropdown,</p>
    <p class="text-muted description"> hence you will not be able to pay any transaction to this account or you have to add that payee again from "Add Payee" option.</p>
</div>