table{
    border: 1px;
    background-color:antiquewhite;
    text-align: center;
    padding: 10px;
}
#transForm{
    padding-top: 10px;
    position: relative;
    left: 500px;
}
tr{
    margin: 10px;
}
td{
    padding: 10px;
}
#transferName{
    text-align: center;
}