<h1 class="text-center">Login</h1>
<div class="text-center loginForm">
<form (ngSubmit)="loginCheck()">

    <div class="form-group">
        <label class="col-sm-3">UserId</label>
        <input class="col-sm-5" type="text" name="customerId" [(ngModel)]=login.customerId >
    </div>
    <div class="form-group">
        <label class="col-sm-3">Password</label>
        <input class="col-sm-5" type="password" name="password" [(ngModel)]=login.password >
    </div>
    <div class="form-group">
        <button class="btn btn-secondary col-sm-3" type="reset">Reset</button>
        
        <button class="btn btn-primary col-sm-3" type="submit">Login</button>
    </div>
</form>
<strong class="text-danger">{{message}}</strong>
<br>
<i><a routerLink=''>Forgot password</a></i><br>
<i><a routerLink='/netbanking'>Register for Internet Banking</a></i><br>
<i><a routerLink='/register'>Open new Account</a></i><br>
<i><a routerLink='/forgotId'>Forgot CustomerId</a></i>

</div>
