<h1>FORM</h1>
<div class="loginForm">
<form (ngSubmit)="loginCheck()">
    <table>
        <tr>
            <td>UserId:</td>
            <td><input type="text" name="customerId" [(ngModel)]=login.customerId /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" [(ngModel)]=login.password /></td>
        </tr>
        <tr>
            <td><button type="reset">Reset</button></td>
            <td><button type="submit">Login</button></td>
        </tr>
    </table>
</form>
<i><a routerLink=''>Forgot password</a></i><br>
<i><a routerLink=''>Register for Internet Banking</a></i><br>
<i><a routerLink=''>Open new Account</a></i>
</div>