<div *ngIf="custId">
  <h1 class="password">Set New Password</h1>
  <h2 class="linecss">Your Customer Id is : <span class="custclass">{{custId}}</span></h2>
  <!-- <form (ngSubmit)="onUpdate()" class="formcss">
    <span class="pwdclass">Enter Password : </span> <input type="password" name="pwd" [(ngModel)]="pwd" class="inputclass" minlength="8">
    <span class="pwdclass"> Confirm Password : </span><input type="password" name="cpwd" [(ngModel)]="cpwd" minlength="8"><br>
    <button type="submit" class="buttoncss">Update</button>
  </form> -->
  <form #form1="ngForm" (ngSubmit)="onUpdate()" class="formclass">

    <div class="form-group" [class.has-error]="password.touched && password.invalid" class="pawdclass">
      <label for="password" class="control-label" style="font-size: 24px;">Password</label>
      <input id="password" required type="text" class="form-control" name="password" [(ngModel)]="pwd"
      minlength="8" #password="ngModel">
      <span class="help-block" *ngIf="password.touched && password.errors?.required" style="color: red;">
        Password is required
      </span>
      <div *ngIf="password.errors?.minlength" style="color: red;">
        Password  must be at least 8 characters long.
       </div> 
    </div>

    <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid" class="pawdclass">
      <label for="confirmPassword" class="control-label" style="font-size: 24px;">Confirm Password</label>
      <input name="confirmPassword" appConfirmEqualValidator="password" required id="confirmPassword" type="text"
        class="form-control" [(ngModel)]="cpwd" minlength="8" #confirmPassword="ngModel">
      <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required" style="color: red;">
        Confirm Password is required
      </span>
      <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual &&
         !confirmPassword.errors?.required" style="color: red;">
        Password and Confirm Password does not match
      </span>
    </div>
    <button type="submit" [disabled]="form1.invalid" class="update-class">Update</button>
  </form>
</div>

<div *ngIf="!custId" class="forgot-pwd">
  <p style="margin: 50px;" class="text-muted">Enter your customer Id in the below mentioned text box and click on submit. You will get a link on your registered email for creating new password.</p>
  Please Enter Your Customer Id : <input type="number" [(ngModel)]="customerId"> <br>
  <button type="submit" class="buttoncss btn btn-primary" (click)="validateCustId()">Submit</button>
  <br><br>
  <p class="text-danger blink_me">{{message}}</p>
</div>