.password{
    text-align: center;
    margin-top: 24px;
    color:grey;
}

.formcss{
    text-align: center;
    margin: 51px;
}

.formclass
{
    margin-top: 3%;
}

.linecss{
    margin-left: 32px;
}

.forgot-pwd{
    text-align: center;
    margin-top: 50px;
}

.message{
    text-align: center;
    margin-top: 15%;
    font-size: 24px;
    color: red;
}

.buttoncss{
    margin-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
}

.custclass{
    color: green;
}

.pwdclass{
    padding-right: 6px;
}

.pawdclass{
    padding-left: 38%;
    padding-right: 44%;
    margin-top: 14px;
}

.update-class{
    margin-left: 43%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    color: blue;
}

.inputclass{
    margin-right: 19px;
}
.blink_me{
    animation: blinker 0.7s linear infinite;
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}