<a routerLink='../' class="btn btn-outline-secondary">Back</a>
<br>
<form (ngSubmit)="showDetails()" class="text-center">
    <button class="btn btn-outline-info" type="submit">View Details</button>
</form>
<br>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Account No</th>
                <th>Type</th>
                <th>balance</th>
                <th>Name</th>
                <th>aadhar Card</th>
                <th>Debit Card</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{this.internetBankingApprovalDetails.accountNo}}</td>
                <td>{{this.internetBankingApprovalDetails.type}}</td>
                <td>{{this.internetBankingApprovalDetails.balance}}</td>
                <td>{{this.internetBankingApprovalDetails.name}}</td>
                <td>{{this.internetBankingApprovalDetails.adharCard}}</td>
                <td>{{this.internetBankingApprovalDetails.debitCard}}</td>
            </tr>
        </tbody>
    </table>
</div>


<form class="text-center" (ngSubmit)="ApproveInternetBanking()">
    <button class="btn btn-outline-success" type="submit">Approve</button>
</form>

<!-- <form (ngSubmit)="Reject1()">
    <button class="btn btn-outline-danger" type="submit">Reject</button>
</form> -->
