<a class='logout btn btn-danger' (click)='logoutAdmin()'>Logout</a>
<div class="text-center">
    <p class="text-muted">Welcome, {{adminName}} - {{adminEmail}}</p>
</div>
<br>
<br>
<div class="text-center">
<form (ngSubmit)="FetchCustomerAccountData()">
    <button class="btn btn-outline-dark" type="submit">Account Opening Requests</button>

<div class="col-sm-8">
    <table class="table" mdbTable striped="true">
        <thead>
            <tr>
                <th scope="col">Acc no.</th>
                <th scope="col">Holder Name</th>
                <th scope="col">holderid</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let data of customerAccountDetails">
                <th scope="col">{{data.accountNo}}</th>
                <td scope="col">{{data.accountHolderName}}</td>
                <td scope="col">{{data.accountHolderId}}</td>
                <td scope="col">
                    <button class="btn btn-link" (click)="sendData(data.accountHolderId)">View Details</button>
                   
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br><br>
</form>
<form (ngSubmit)="FetchInternerBankingList()">
    <button class="btn btn-outline-dark" type="submit">Internet Banking Requests</button>
</form>
<div class="col-sm-8">
    <table class="table">
        <thead>
            <tr>
                <th>Acc holder name</th>
                <th>Acc no</th>
                <th>customerid</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of internetBankingDetails">
                <th>{{data.accountHolderName}}</th>
                <td>{{data.accountNo}}</td>
                <td>

                   {{data.customerId}}
                    <!--<form #details="ngForm" (ngSubmit)="onsubmit(details.value)">
                        <input type="hidden" name="holid" value={{data.accountHolderId}} [(ngModel)]="holid" >
                        <button type="submit" >view details</button>
                    </form>-->
                </td>
                <td>

                    <button class="btn btn-link" (click)="sendInternetData(data.accountNo)">View Details</button>
                   
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>