.main{
    display: grid;
    grid-template-columns: 15% 90%;
    grid-gap: 1em;
    margin-top: 10%;
    margin-left: 10%;
    height: 100%;
}

.main >div{
    background: burlywood;
    padding: 1em;
}

.main > div:nth-child(odd){
    background:grey;
}

a{
    color: black;
    text-decoration: none;
}

.links{
    padding-bottom: 7%;
}

.Col1{
    padding-bottom: 100% !important; 
}

.Col2{
    margin-top: 7% !important;
}
a{
    color: rgb(250, 233, 233);
    
}
a:hover{
    background-color: rgb(182, 236, 182);
    color: black;
}
.logout{
    color:black;
    background-color: rgb(241, 135, 135);
}
.logout:hover{
    background-color: rgb(110, 8, 8);
    color: white;
}