<div>
    <a routerLink='../' class="btn btn-secondary">Back</a>
</div>
<div class="payeeDetails">
    <form (ngSubmit)="insertPayee()">
        <div><h3 class="heading">Add Beneficiary</h3></div>
        <table >
            <tr>
                <td>Beneficiary Name</td>
                <td><input type="text" name="name" [(ngModel)]="payee.name" required></td>
            </tr>        
            <tr>
                <td>Beneficiary Account Number</td>
                <td><input type="text" name="accNo" [(ngModel)]="payee.acno" required></td>
            </tr>
            <tr>
                <td>Re-Enter Account Number</td>
                <td><input type="text" name="reAccNo" [(ngModel)]="reAcno" required></td>
            </tr>
            <tr>
                <td>Type</td>
                <td>
                    <select name="type" [(ngModel)]="payee.type" required>
                        <option value="savings">Savings</option>
                        <option value="current">Current</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>NickName</td>
                <td><input type="text" name="nickname" [(ngModel)]=payee.nickname></td>
            </tr>
        </table>
        <button class="btn btn-dark" type="submit">Add</button>
       
    </form>
    <h6 style="color:red;">{{message}}</h6>
    <h6 style="color:green;">{{messageSuccess}}</h6>
</div>
<br>
<hr>
<div class="description">
    
    <p class="text-muted describe">1. Before making any payement via internet banking you have to add new payee.</p>
    <p class="text-muted describe">2. New payee will be added by inserting the payee's account number and name in the above fields</p>
    <p class="text-muted describe">3. Make sure the Account number you enter must be correct and valid, before adding the payee.</p>
    <p class="text-muted describe">4. After adding payee it will be shown in the dropdown of "To Account" during transaction.</p>
</div>
<hr>