<img src="assets/images/bank-getty.jpg">
<!-- <div class="content-out"> -->
    <h1><i>About Us</i></h1>
    <br>
    <br>
    <p>RICA BANK, is a high quality, customer centric and service driven Bank. <br>
        Since inception in 2004, RICA BANK has grown into a 'Full Service Commercial Bank'<br>
         providing a complete range of products, services and technology driven digital 
         offerings, catering to corporate, MSME & retail customers.</p>
        

        
<div class="three">
<section class="slideshow">
    <div class="content">
        <div class="content-carrousel">
            <figure class="shadow"><img src="assets/images/atm.jpg"></figure>
            <figure class="shadow"><img src="assets/images/mobile2.jpg"></figure>
            <figure class="shadow"><img src="assets/images/safety.jpg"></figure>
            <figure class="shadow"><img src="assets/images/transaction.jpg"></figure>
        </div>
    </div>
</section>
</div>

<div class="four">
    <a href="https://www.twitter.com">
        <img class="img1" src="assets/images/twitter.png">
    </a>
    <a href="https://www.facebook.com"> 
        <img class="img2" src="assets/images/facebook.png">
    </a>
    <a href="https://www.instagram.com">
        <img class="img3" src="assets/images/insta.jpg">
    </a>
   
</div>