<img class="bankImage" src="assets/images/bank-getty.jpg">
<!-- <div class="content-out"> -->
    <h1><i>About Us</i></h1>
    <br>
    <br>
    <p class="text-muted"><strong> RICA BANK</strong>, is a high quality, customer centric and service driven Bank.</p>
    <p class="text-muted">Since inception in 2004, RICA BANK has grown into a <strong>'Full Service Commercial Bank'</strong> providing a complete range of products, services and technology driven digital 
         offerings, catering to corporate, MSME & retail customers.</p>
    <p class="text-muted">You can avail services like Hard cash transactions, internet banking services, all types of loans and vast varieties of debit-credit cards as per your needs.</p>
    
        
<div class="three">
<section class="slideshow">
    <div class="content">
        <div class="content-carrousel">
            <figure class="shadow"><img src="assets/images/atm.jpg"></figure>
            <figure class="shadow"><img src="assets/images/mobile2.jpg"></figure>
            <figure class="shadow"><img src="assets/images/safety.jpg"></figure>
            <figure class="shadow"><img src="assets/images/transaction.jpg"></figure>
        </div>
    </div>
</section>
</div>

<div class="four">
    
   
</div>
<div class="footer">
<div class="form-group col-sm-3">
    <h6 class="text-info">Useful Links</h6>
    <p class="bottom text-secondary">Privacy</p>
    <p class="bottom text-secondary">Terms and Conditions</p>
    <p class="bottom text-secondary">Apply for credit card</p>
    <p class="bottom text-secondary">Security</p>
</div>
<div class="col-sm-3 form-group">
    <h6 class="text-info">
        RICA Group Websites
    </h6>
    <p class="bottom text-secondary">RICA Ltd</p>
    <p class="bottom text-secondary">RICA Mutual Fund</p>
    <p class="bottom text-secondary">RICA Financial Services</p>
    <p class="bottom text-secondary">RICA Life</p>
    <p class="bottom text-secondary">RICA Pension</p>
</div>
<div class="form-group">
<h6 class="text-info" style="margin-left:70px;">Connect Us</h6>
<div class="col-sm-3 images" >
    
    <a href="https://www.twitter.com">
        <img class="img1" src="assets/images/twitter.png">
    </a>
    <a href="https://www.facebook.com"> 
        <img class="img2" src="assets/images/facebook.png">
    </a>
    <a href="https://www.instagram.com">
        <img class="img3" src="assets/images/insta.jpg">
    </a>
</div>
</div>
</div>