<h1> Account Details </h1>

<div class="" *ngIf="accDet">
    <form class="form-horizontal " (ngSubmit)="update()">
        <div class="form-group"> 
            <label class="control-label col-sm-2">Name</label>
            <label class="col-sm-10">{{accDet.name}}</label><br/>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">DateOfBirth</label> 
            <label class="col-sm-10">{{accDet.dob}}</label><br/>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Aadhar Number</label>
            <label class="col-sm-10">{{accDet.aadharNumber}}</label><br/>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Mobile Number</label>
            <input class="col-sm-10" type="telephone" name="mobile" [(ngModel)]="accDet.mobile"/><br/>
        </div>
        
            <h5>Residential Address</h5>
        
        <div class="form-group">
            <label class="control-label col-sm-2"> Address Line :</label>
            <input class="col-sm-10" type="text" name="addr1" [(ngModel)]="accDet.add1.address"/><br/>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">LandMark :</label>
            <input class="col-sm-10" type="text" name="landamrk1" [(ngModel)]="accDet.add1.landmark" /><br/>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2"> City :</label>
            <input class="col-sm-10" type="text" name="city1" [(ngModel)]="accDet.add1.city" /><br/>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">State :</label>
            <input class="col-sm-10" type="text" name="state1" [(ngModel)]="accDet.add1.state" /><br/>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2"> Pincode :</label>
            <input class="col-sm-10" type="text" name="pincode1" [(ngModel)]="accDet.add1.pincode" /><br/>
        </div>

            <h5>Permanent Address</h5>
            
        <div class="form-group">
            <label class="control-label col-sm-2"> Address Line :</label>
            <input class="col-sm-10" type="text" name="addr2" [(ngModel)]="accDet.add2.address"/><br/>
        </div>    
            
        <div class="form-group">
            <label class="control-label col-sm-2">  LandMark :</label>
            <input class="col-sm-10" type="text" name="landamrk2" [(ngModel)]="accDet.add2.landmark" /><br/>
        </div>
            
        <div class="form-group">
            <label class="control-label col-sm-2"> City :</label>
            <input class="col-sm-10" type="text" name="city1" [(ngModel)]="accDet.add2.city" /><br/>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">State :</label>
            <input class="col-sm-10" type="text" name="state1" [(ngModel)]="accDet.add2.state" /><br/>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Pincode :</label>
            <input class="col-sm-10" type="text" name="pincode1" [(ngModel)]="accDet.add2.pincode" /><br/>
        </div>
            <h5>Occupation</h5>

        <div class="form-group">
            <label class="control-label col-sm-2">Type:</label>
            <input class="col-sm-10" type="text" name="type" [(ngModel)]="accDet.occupation.type"/><br/>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Income_Source:</label>
            <input class="col-sm-10" type="text" name="source" [(ngModel)]="accDet.occupation.income_source"/><br/>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Annual_Income:</label>
            <input class="col-sm-10" type="number" name="income" [(ngModel)]="accDet.occupation.annual_income "/><br/>
        </div>
            <button type="submit">Update</button>
    </form> 
</div>